@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


h1, h2, h3, h4, h5, h6, h7{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.pr-0{
    padding-right: 0 !important;
}

.pl-0{
    padding-left: 0 !important;
}

/* Reponsive Fonts */


.nav-container{
    display: flex;
    align-items: center;
}
.nav{
    font-family: 'Playfair Display', serif;
}
.nav-link{
    font-size: 15px;
    color: #000;
}

.nav-link:hover{
    color: #000;
}

.active-nav{
    text-decoration: none;
    position: relative;
}

.active-nav:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-width: 0 0 2px;
    border-style: solid;
}

.content{
    background: #f7f7f7;
}
.featured-bar{
    z-index: 100;
    background: #fff;
    padding: 0 40px 40px 40px;
    box-shadow: 10px 0 5px -2px #cccccc21;
    -webkit-box-shadow: 10px 0 5px -2px #cccccc21;
}
.btn-div{
    display: flex;
    justify-content: flex-end;
}

.native-btn{
    color: #fff;
    background: #f9ab43;
    border-radius: 0;
}

.native-btn:hover{
    color: #fff;
}

.img-thumbnail{
    border: none;
}
.card-grid-container{
    margin: 40px 0 0 0;
}
.card-grid-img{
    padding: 0;
}
.card-grid{
    margin-right: 20px;
    height: 23em;
    background: #fff;
    padding: 0
}
.card-grid-category{
    margin-top: 14px;
    color: #ccc;
}
.card-grid-category {
    font-size: 13px;
}
.card-grid-content{
}
.card-grid-content > h7{
    font-size: 11px;
}
.card-grid-title{
    margin-top: 10px;
}
.card-grid-title > h5{
    font-size: 15px;
}
.card-grid-meta{
    position: absolute;
    bottom: 12px;
}
.card-grid-meta > h7{
    font-size: 10px;
    padding: 0 20px 0 20px;
}

.card-lg-category{
    padding: 10px 20px 0 20px;
    color: #ccc;
}
.card-lg-content{
    padding: 10px 20px 0 20px;
}
.card-lg-meta{
    position: absolute;
    bottom: 12px;
    padding: 0 20px 0 20px;
}

.card-meta > h6{
    font-size: 12px;
}
.card-sm-meta{
    padding: 0;
}

.card-sm-meta > h7{
    font-size: 10px;
}



/* HOME PAGE STYLINGS */

/* Featured Post SIdebar Stylings */
.feat-head{
    padding: 20px 20px 0 20px;
}

.feat-more-btn{
    display: flex;
    justify-content: flex-end;
}

.feat-more-btn > .native-btn{
    width: 80%;
}

.card-container{
    margin-top: 40px;
}
.card-img{
    height: 100%;
    border-radius: 0;
}
.card-main-title{
    padding: 20px 20px 0 20px;
}

.card-sm-title{
    padding: 10px 0 0 0;
}
.card-meta{
    padding: 0 20px 0 20px;
}
.card-meta-date{
    color: #ccc;
    font-weight: 400;
}

                                                            /* MEDIA QUERIES FOR FEATURED POSTS */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .featured-sm-content{
        display: flex;
        align-items: center;
    }

    .card-sm-title > h6{
        font-size: 12px;
    }

    .card-sm-meta > h7{
        font-size: 8px;
    }

    .feat-more-btn > .native-btn {
        width: 100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .featured-sm-content{
        display: flex;
        align-items: center;
    }

    .card-sm-title > h6{
        font-size: 40px;
    }

    .card-sm-meta{
        padding: 20px 20px 0 0px;
    }

    .card-sm-meta > h7{
        font-size: 20px;
    }
} 
/* Recent Post Section Stylings */

.recent-bar > .btn-container{
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-bar > .btn-container > .native-btn{
    height: 30%;
    width: 15%;
    font-size: 15px;
}

.card-text-sm{
    font-size: 12px;
}

.card-body + .card-footer{
    background: transparent;
    border: none;
}

.footer-custom{
    padding: 8px 0 0 22px;
}

.author-meta{
    font-size: 12px;
}

.card-text-custom{
    font-size: 12px;
}

.dynamic-card{
    margin-bottom: 20px;
}

.card-last{
    display: flex;
    height: 100%;
}

                                                            /* MEDIA QUERIES FOR RECENT POSTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .recent-bar > .recent-content{
        padding: 0px 40px 0 40px;
        margin-top: 20px;
    }

    .recent-content.recent-content-sm{
        margin-top: 0;
    }

    .recent-content > .col-xs-12{
        margin-top: 20px;
    }

    .recent-bar > .btn-container > .native-btn{
        width: 35%;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .recent-bar > .recent-content{
        margin-top: 20px;
    }

    .recent-content > .col-xs-12{
        margin-top: 20px;
    }

    .feat-more-btn > .native-btn {
        width: 50%;
    }
} 


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

    .recent-bar > .recent-content{
        padding: 40px 40px 0 40px;
    }
} 
/* Footer Stylings  */
.footer-container{
    background: #fff; 
    padding: 0 0 30px 0
}

.footer-link-item > a{
    font-size: 12px; 
    font-weight: 700
}

.social-icons-container > .col-1{
    padding: 2.3%
}

.footer-meta-container{
    margin: 0;
}

.footer-meta-container > .col-12{
    font-size: 12px
}

.footer-links{
    justify-content: start;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .social-icons-container > .col-1{
        padding: 0;
    }

    .footer-links{
        justify-content: center;
    }

    .footer-link-item > a {
        font-size: 8px;
    }

    .footer-meta-container{
        margin-top: 10px;
    }

    .footer-meta-container > .col-12{
        font-size: 10px;
    }
}


            
/* BREAKING TRAIDITIONS  */

    .container{
        padding-bottom: 7em;
    }
    .cat-quote{
        color: #13121270;
        font-weight: 600;
    }
    .card-img-overlay{
        position: absolute;
        bottom: 10%;
        top: auto;
        right: auto;
        background: #fff;
        width: 75%;
        left: 12%;
        text-align: center;
        padding: unset;
    }                                           

    .card-cat{
        background-size: cover !important;
        height: 100%; 
        border: none;
    }

    /* Media Queries */


/* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {}

/* Large devices (laptops/desktops, 992px and up) */

    @media only screen and (min-width: 992px) {
        .container{
            padding-top: 4em;
            padding-left: 4em;
            padding-right: 4em;
        }

        .top-row{
            margin-top: 4em;
        }
        .bg-card-container{
             padding-top: 0;
            padding-bottom: 1.44em;
        }
    }

/* Single Post CSS */

.single-content{
    padding-left: 12em; 
    padding-right: 12em
}

.single-content h5{
    font-weight: 400;
    line-height: 1.5;
}

.single-post-footer{
    margin-top: 2em;
    padding-bottom: 5em;
    border-bottom: 2px solid #9e9595;
}

.single-post-meta{
    padding-top: 3em
}

.single-post-meta h6{
    font-size: 1.3em
}

.single-post-meta p{
    padding-right: 2em;
}

.single-post-nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 6em;
    box-shadow: 1px 1px 16px 1px #cccccc8a;
}

.single-related{
    padding: 30px 9em 30px 9em;
    background: #f7f7f7;
}

.single-related h4{
    margin-bottom: 2em;
}